.popUp {
    width: 100%;
    padding: 15px;
}

.popUp .popUpExit {
    cursor: pointer;
    text-align: right;
}

/* .popUp .popUpContainer {

} */
.popUp .popUpContainer .containerHeader {
    border-bottom: 3px solid black;
}

.popUp .popUpContainer .containerHeader h1 {
    margin-bottom: 15px;
}