.popUp {
    width: 100%;
    padding: 15px;
}

.popUp .popUpExit {
    cursor: pointer;
    text-align: right;
}

/* .popUp .popUpExit div svg {
    color: #f77c34;
} */

/* .popUp .popUpContainer {

} */
.popUp .popUpContainer .containerHeader {
    border-bottom: 3px solid #f77c348a;
}

.popUp .popUpContainer .containerHeader h1 {
    color: rgba(0, 0, 0, 0.664);
    margin-bottom: 15px;
}

.popUp .popUpContainer .popUpTable table {
    margin-top: 15px;
    border-collapse: collapse;
    min-width: 100%;
}

.popUp .popUpContainer .popUpTable table tr:nth-child(even) {
    background-color: #eeeeee;
}

.popUp .popUpContainer .popUpTable table td,
th {
    /* border: 1px solid #dddddd; */
    text-align: left;
    padding: 12px;
    text-align: center;
    font-size: 14px;
}

.popUp .popUpContainer .popUpTable table th {
    border-bottom: 1px solid #dddddd;
    font-size: 15px;
}

/*
.popUp .popUpContainer .popUpTable table td {
    text-align: center;
    font-size: 14px;
} */